<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="index.php" />
            </files>
        </defaultDocument>
        <rewrite>
            <rules>
                <rule name="Imported Rule 1" stopProcessing="true">
                    <match url="^" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 2" stopProcessing="true">
                    <match url="^composer\.json$" />
                    <action type="Rewrite" url="index.php" />
                </rule>
            </rules>
        </rewrite>
        <handlers>
            <add name="PHP via FastCGI2" path="C:\inetpub\htdocs\phpmyadmin\index.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\inetpub\php\php-cgi.exe" resourceType="File" />
            <add name="PHP via FastCG" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\inetpub\php\php-cgi.exe" resourceType="File" />
        </handlers>
    </system.webServer>
</configuration>
